<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.wifi.mapper.APIMapper">
    <insert id="save" parameterType="com.zerobase.wifi.dto.WifiDTO">
        INSERT INTO wifiAPI (mgr_no, borough, wifi_no, address1, address2, in_floor, in_type, in_by, service, network, c_year, in_out, r_connection, lat, lnt, work_date)
        VALUES (#{mgr_no}, #{borough}, #{wifi_no}, #{address1}, #{address2}, #{in_floor}, #{in_type}, #{in_by}, #{service}, #{network}, #{c_year}, #{in_out}, #{r_connection}, #{lat}, #{lnt}, #{work_date})
    </insert>
</mapper>