<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zerobase.wifi.mapper.BookMarkMapper">

    <!--상세 정보-->
    <select id="getDetail" parameterType="string" resultType="wifiDTO">
        select * from wifiAPI where mgr_no=#{mgr_no}
    </select>

    <!--북마크 등록-->
    <insert id="addBookMark" parameterType="map">
        insert into bookmark (bookMarkName, wifi_name) values (#{bookMarkName}, #{wifi_name});
    </insert>

    <!--등록한 북마크 목록-->
    <select id="getBookMark" resultType="bookMarkDTO">
        select id, bookMarkName, wifi_name, date from bookmark
    </select>

    <!--등록한 북마크 삭제-->
    <delete id="deleteBookMark" parameterType="long">
        delete from bookMark where id=#{id}
    </delete>

    <select id="bookMarkNameList" resultType="bookMarkGroupDTO">
        select bookMarkName from bookMarkGroup
        order by no
    </select>


</mapper>